:root {
    --color-primary: #b20000;
    --color-body: #eceef0;
    --color-nav-link: #9a9a9a;
    --cinza-escuro: #666666;

    --nav-width-mobile: 70%;
    --nav-width-tablet: 40%;
    --nav-width-desktop: 250px;
}

.flex {
    display: flex;
    align-items: center;
    justify-items: center;
}

.nav {
    background-color: #fff;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 22%);
}

.nav.nav-show {
    width: var(--nav-width-mobile);
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link,
.nav-link-dropdown {
    display: block;
    padding: 16px 32px;
    min-width: 250px;
    text-decoration: none;
    color: var(--color-nav-link);
    transition: 0.5s;
}

.nav-link:hover,
.nav-link-dropdown:hover {
    color: var(--cinza-escuro);
    cursor: pointer;
    min-width: 250px;
}

.active {
    color: var(--color-primary) !important;
    cursor: pointer;
    min-width: 250px;
}

.btn-close {
    position: absolute;
    right: 30px;
}

.list-link li {
    margin-bottom: 10px;
}

.list-link a {
    color: var(--color-nav-link);
    text-decoration: none;
    margin: 0 3rem;
}

.list-link a:hover {
    color: var(--color-primary);
}

@media screen and (min-width: 768px) {
    .nav.nav-show {
        width: var(--nav-width-tablet);
    }
}

@media screen and (min-width: 1024px) {
    body {
        padding-left: var(--nav-width-desktop);
    }

    .nav {
        width: var(--nav-width-desktop);
    }

    .btn-menu,
    .btn-close {
        display: none;
    }
}