/*========== FONTE IMPORTADA ==========*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/*========== VARIÁVEIS CSS ==========*/
:root {
    --vermelho: #b20000;
    --cinza: #b8b4b4;
    --cinza-escuro: #666666;
    --botao: #d4cfd0;
    --branco: #ffffff;
}

/*========== RESET ==========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========== CORPO DA PÁGINA ==========*/
body {
    background-color: var(--cinza);
    font-family: 'Inter', sans-serif;
}

/*========== BANNER ==========*/
.bg-vermelho {
    background-color: var(--vermelho);
}

.banner {
    max-height: 80px;
    max-width: 100%;
    padding: 10px;
}

/*========== ÁREA DE PESQUISA E BOTÕES ==========*/
nav {
    background-color: var(--cinza-escuro);
}

.button {
    background-color: var(--cinza);
    border-radius: 18px !important;
    padding: 5px 10px;
    font-size: 14px;
}

.button-input {
    background-color: var(--vermelho);
    border-radius: 18px !important;
    padding: 5px 10px;
    font-size: 14px;
}

.button-search {
    background-color: var(--cinza);
    border-radius: 8px !important;
    padding: 0 10px;
}

.button:hover,
.button-search:hover {
    background-color: var(--vermelho);

}

.button-input:hover {
    background-color: #666666;
}

.selected {
    background-color: #666666;
}

.button a {
    text-decoration: none;
    color: #000;
}

.usuario {
    font-size: 30px;
}

.estrelas-avaliacao {
    font-size: 9px;
}

#bloco_duvidas textarea,
#bloco_avaliacoes textarea,
#bloco_comentarios textarea {
    overflow: hidden;
    resize: none;
}

.list-group {
    max-height: 200px;
}

/*========== INPUTS ==========*/
.input-cinza {
    background-color: var(--cinza) !important;
}

/*========== TEXTO ==========*/
.justificado {
    text-align: justify;
}

/*========== RODAPÉ ==========*/
footer {
    color: var(--branco);
}