@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
    --red_color: #b20000;
    --grey_color: #b8b4b4;
    --dark_grey_color: #666666;
    --white_color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey_color);
    font-family: 'Inter', sans-serif;
}

.bg-red-color {
    background-color: var(--red_color);
}

.banner {
    max-height: 80px;
    max-width: 100%;
    padding: 10px;
}

nav {
    background-color: var(--dark_grey_color);
}

.button {
    background-color: var(--grey_color);
    border-radius: 18px !important;
    padding: 5px 10px;
    font-size: 14px;
}

.button-input {
    background-color: var(--red_color);
    border-radius: 18px !important;
    padding: 5px 10px;
    font-size: 14px;
}

.button-search {
    background-color: var(--grey_color);
    border-radius: 8px !important;
    padding: 0 10px;
}

.button:hover,
.button-search:hover {
    background-color: var(--red_color);

}

.button-input:hover {
    background-color: #666666;
}

.selected {
    background-color: #666666;
}

.button a {
    text-decoration: none;
    color: #000;
}

.user-default-size {
    font-size: 30px;
}

.rating-stars-size {
    font-size: 9px;
}

#questions-block textarea,
#reviews-block textarea,
#comments-block textarea {
    overflow: hidden;
    resize: none;
}

.list-group {
    max-height: 200px;
}

.input-grey-color {
    background-color: var(--grey_color) !important;
}

.text-justify-content {
    text-align: justify;
}

footer {
    color: var(--white_color);
}